@import "tailwindcss";
@config "../../tailwind.config.mjs";

@theme {
  --color-primary: #45220e;
  --color-secondary: #FF6B35;
  --color-mid-grey: #757575;
  --color-light-cream: #F9ECE5;
  --color-light-grey: #F3F4F6;
  --color-whitesmoke: #F5F5F5;
  --color-off-white: #F8F8F8;
  --font-raleway: var(--font-raleway);
  --font-sans: var(--font-raleway);
  --font-playfair: var(--font-playfair);
}

:root {
  --primary: #45220e;
  --secondary: oklch(0.97 0 0);
  --mid-grey: #6b7280;
  --light-cream: #f9ece5;
  --light-grey: #f3f4f6;
  --whitesmoke: #f5f5f5;
  --off-white : #F8F8F8
}

body {
  font-family: var(--font-raleway);
}

@layer base {
  body {
    font-family: var(--font-raleway);
    background-color: var(--off-white);
    color: var(--primary);
  }
}

@utility scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 25s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}
